@import '../../Variables.scss';

.job-card-loader {
  padding: 15px 10px;
  background-color: $lightGreyColor;
  border-radius: 6px;
  .title {
    border-radius: 3px;
    background-color: $darkGreyColor;
    padding: 8px 6px;
    margin-bottom: 10px;
  }
  .description {
    border-radius: 3px;
    background-color: $darkGreyColor;
    padding: 10px;
    margin-bottom: 12px;
  }
  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    .status {
      border-radius: 3px;
      background-color: $darkGreyColor;
      padding: 5px;
      padding: 10px 40px;
    }
    .button {
      border-radius: 3px;
      background-color: $darkGreyColor;
      padding: 15px 50px;
    }
  }
  .time {
    background-color: $darkGreyColor;
    padding: 5px;
    width: 50%;
  }
}
