@import '../Variables.scss';

.home-container {
  small {
    color: $textColor;
  }

  .posts-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .header-holder {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      @include button($primaryColor, white, rgba(206, 35, 35, 0.563));
    }
  }
}
