@import '../../Styles/Variables.scss';

.profile-holder {
  margin: 40px auto;
  max-width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  .username-text {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 600;
    color: $darkBlackColor;
  }
  img {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid $primaryColor;
    object-fit: cover;
  }
  .votes-holder {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin: 0 40px;
  }
  .bio-btn {
    @include button($primaryColor, white, rgba(206, 35, 35, 0.563));
    width: 100%;
  }
  .logout-confirmation-text {
    margin-top: 20px;
  }
  .buttons-holder {
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
    gap: 20px;
  }
  textarea {
    border: none;
    text-align: center;
  }
}
