@import '../Variables.scss';

.upcoming-holder {
  .page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .page-title {
    color: $blackColor;
    font-size: 30px
  }
  .add-upcoming-btn {
    @include button($lightGreyColor, $blackColor);
    padding: 2px 4px;
    width: fit-content;
  }
  .upcoming-jobs-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    button {
      @include button($primaryColor, white);
      width: 100%;
    }
  }
}
