@import '../Variables.scss';

.job-card-holder {
  padding: 0px 10px 10px 10px;
  border: 1px solid $darkGreyColor;
  border-radius: 6px;
  background-color: $lightGreyColor;
  .job-header {
    display: flex;
    justify-content: space-between;
    .job-title {
      font-weight: 700;
      font-size: 17px;
      color: $blackColor;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .job-bottom {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .job-time {
      display: flex;
      align-items: center;
      color: $greyColor;
      gap: 4px;
    }
  }

  button {
    @include button($primaryColor, white);
    border: 1px solid rgba(206, 35, 35, 0.563);
    display: flex;
    float: right;
    gap: 4px;
  }
  .cancle-request-btn {
    @include button($greyColor, white);
  }
  .job-description {
    color: $blackColor;
    margin-top: -10px;
  }
}

@media only screen and (max-with: 800px) {
  .job-card-holder {
    margin: 10px 0;
  }
}

a {
  text-decoration: none;
}
