@import '../Variables.scss';

.links-bar {
  ul {
    display: flex;
    flex-direction: column;
    li {
      list-style-type: none;
      a {
        display: flex;
        align-items: center;
        gap: 10px;
        color: $primaryColor;
        text-decoration: none;
      }
      .requests-holder {
        position: relative;
        .notifications-counter {
          position: absolute;
          width: fit-content;
          background-color: white;
          border-radius: 100%;
          z-index: 4;
          bottom: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 14px;
          padding-left: 4px;
          right: 0;
          font-weight: 700;
        }
      }
    }
  }
}
