@import '../Variables.scss';

.post-modal {
  display: flex;
  height: 100vh;
  background-color: white;
  .modal-child {
    border: 1px solid $darkGreyColor;
    width: 600px;
    border-radius: 6px;
    padding: 0px 30px 30px 30px;
    margin: auto;
    .close-btn {
      button {
        background-color: transparent;
        border: none;
        cursor: pointer;
      }
      display: flex;
      justify-content: space-between;
    }
    h2 {
      color: $primaryColor;
    }
    form {
      display: flex;
      flex-direction: column;
      .input-holder {
        display: flex;
        flex-direction: column;
        input {
          @include textinput;
          margin-bottom: 10px;
        }
      }
      button {
        @include button($primaryColor, white);
        padding: 15px;
      }
      .modal-select {
        @include textinput;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .post-modal {
    border: none;
    .modal-child {
      border: none;
      height: 100vh;
      background-color: white;
    }
  }
}
