@import "../Variables.scss";

.desktop-nav {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 10px;
  position: relative;
  background-color: white;
  border-bottom: 1px solid #ddd;

  a {
    text-decoration: none;
    color: $primaryColor;
    display: flex;
    align-items: center;
    gap: 10px;
    .jobe-house-logo {
      margin-right: 50px;
      cursor: pointer;
    }
  }

  .image-holder {
    img {
      border: 2px solid $primaryColor;
      width: 32px;
      height: 32px;
      object-fit: cover;
      cursor: pointer;
      border-radius: 100%;
    }
    margin-left: 20px;
    margin-right: 300px;
  }

  .search-container {
    display: flex;
    cursor: default;
    align-items: center;
    width: 100%;
    
    img {
      user-select: none;
      -webkit-user-drag: none;
    }
    .desktop-search-results {
      padding: 10px 0px;
      border-radius: 6px;
      background-color: white;
      border: 1px solid $darkGreyColor;
      position: absolute;
      top: 60px;
      width: 42%;
      overflow-y: scroll;
      max-height: 300px;
      height: fit-content;
      cursor: default;
      ul {
        padding: 0 10px;
        margin: 0;
        li {
          list-style-type: none;
          padding: 0;
          margin: 0;
          background-color: $lightGreyColor;
          margin: 2px 0;
          border-radius: 6px;
          padding: 0px 10px 10px 10px;
          display: flex;
          border: 1px solid $darkGreyColor;
          a {
            flex-direction: column;
            align-items: flex-start;
            color: $blackColor;
            font-weight: 600;

            p {
              text-transform: capitalize;
              margin-bottom: 3px;
              font-weight: 600;
            }
            small {
              font-weight: 400;
              margin-top: -10px;
            }
          }
        }
      }
    }
  }

  .nav-search-holder {
    display: flex;
    align-items: center;
    color: $textColor;
    padding: 4px 10px;
    width: 100%;
    background-color: $lightGreyColor;
    border: 1px solid $darkGreyColor;
    border-radius: 6px;
    cursor: text;
    input {
      padding: 5px 10px;
      width: 100%;
      flex: 1;
      color: $textColor;
      border: none;
      background-color: transparent;
      outline: 0;
      cursor: text;
    }
  }
}
