@import '../Variables.scss';

.navbar-popup {
  position: absolute;
  background-color: white;
  right: 200px;
  top: 80px;
  border-radius: 6px;
  border: 1px solid $darkGreyColor;
  .popup-content {
    padding: 10px;
    .popup-item {
      display: flex;
      align-items: center;
      color: $blackColor;
      p {
        margin-left: 10px;
      }
    }
  }
  button {
    background: none;
    border: none;
    border-top: 1px solid $darkGreyColor;
    box-sizing: border-box;
    background-color: $lightGreyColor;
    width: 100%;
    font-weight: 600;
    cursor: pointer;
  }
}
