@import '../Variables.scss';

.side-bar {
  .profile-card {
    background-color: $lightGreyColor;
    border: 1px solid $darkGreyColor;
    margin-top: 20px;
    padding: 10px 20px 20px 20px;
    border-radius: 6px;
  }
  .logout-text {
    color: rgba(209, 22, 22, 0.507);
    font-size: 14px;
    font-weight: 600;
  }
  margin: 0 10px;
  .bio-text {
    color: $textColor;
    font-size: 15px;
    width: 100%;
  }

  .profile-stats-holder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .image-holder {
      cursor: pointer;
      img {
        width: 70px;
        height: 70px;
        border-radius: 100%;
        object-fit: cover;
        cursor: pointer;
        background-color: white;
      }
    }
    .profile {
      display: flex;
    }
    .profile-name-stats {
      display: flex;
      flex-direction: column;
      .user-name-holder {
        .username-text {
          margin-bottom: 0px;
          font-weight: 600;
        }
        small {
          color: $textColor;
        }
      }
      .recommendations-holder {
        display: flex;
        gap: 10px;
        #votes {
          display: flex;
          align-items: center;
          gap: 4px;
          span {
            font-weight: 600;
          }
          p {
            color: $textColor;
          }
        }
      }
    }
  }
}
