@import '../../../Styles/Variables.scss';

.mobile-select-holder {
  display: flex;
  align-items: center;
  color: $textColor;
  padding: 4px 10px;
  margin-bottom: 10px;
  background-color: $lightGreyColor;
  border-radius: 6px;
  transition: 0.2s;
  cursor: pointer;
  .search-bar {
    padding: 5px 10px;
    width: 100%;
    color: $textColor;
    border: none;
    background-color: transparent;
    outline: 0;
    cursor: pointer;
  }
}
.search-results-holder {
  ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    li {
      a{
        color:$darkBlackColor;
        .search-result-title {
          font-weight: 600;
          color:$blackColor;
        }
        .search-result-description {
          color: $textColor;
        }
      }
      list-style-type: none;
      padding: 5px 10px;
      background-color: $lightGreyColor;
      margin-bottom: 5px;
      border-radius: 6px;
      border: 1px solid $darkGreyColor;
      
    }
  }
}
