@import '../src/Styles/Variables.scss';

::-webkit-scrollbar {
  width: 8px;
  height: 10px;
  border-radius: 6px;
}


::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-track:hover {
  background-color: rgb(243, 243, 243);
  transition: 0.4s;
}

::-webkit-scrollbar-thumb {
  background: rgb(226, 226, 226);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(187, 186, 186);
  transition: 0.3s;
}

button,
input,
select,
option,
div,
link,
textarea {
  outline: none;
  outline-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

select {
  -moz-appearance: none;
}

a {
  text-decoration: none;
  -webkit-user-drag: none;
}

textarea {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

option {
  background-color: $lightGreyColor;
}

@media only screen and (min-width: 800px) {
  h2 {
    font-size: 30px;
    font-weight: 600;
  }
}
