@import '../../../Styles/Variables.scss';

.mobile-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 90;
  padding: 0 10px;
  .jobe-house-logo {
    margin-right: 0;
    color: $primaryColor;
  }
  a {
    color: $primaryColor;
    .jobe-house-logo {
      color: $primaryColor;
    }
  }

  .image-holder {
    img {
      width: 32px;
      height: 32px;
      object-fit: cover;
      cursor: pointer;
      border-radius: 100%;
    }
  }
}

@media only screen and (max-width: 800px) {
  .mobile-nav {
    border-bottom: 0.4px solid $darkGreyColor;
  }
}
