@import "../../../Styles/Variables.scss";

.nav-popup-holder {
  position: relative;

  .nav-popup {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border: 1px solid $darkGreyColor;
    background-color: white;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: fit-content;
    align-items: center;
    display: flex;
    flex-direction: column;
    .close-btn {
      margin-top: 10px;
      border-radius: 100%;
      padding: 4px;
      border: 0.7px solid $darkGreyColor;
      color: $blackColor;
      margin-right: 20px;
    }
    .popup-content {
      padding: 5px;
      display: flex;
      flex-direction: column;
      width: 100%;
      .popup-item {
        display: flex;
        align-items: center;
        padding: 0 20px;
        p {
          margin-left: 10px;
        }
      }
    }
    .logout-btn {
      display: flex;
      width: 100%;
      color: red;
      font-weight: 700;

      border-top: 1px solid $darkGreyColor;
      font-size: 15px;
      padding: 5px 25px;
    }
    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
    a {
      background-color: transparent;
      color: $blackColor;
      border: none;
      padding: 0;
      font-weight: 600;
    }
  }
}
