$primaryColor: #fd4d4d;
$blueColor: #2f96d1;
$blackColor: #252525;
$darkBlackColor: #1a1a1a;
$textColor: #5d7290;
$lightGreyColor: #f2f2f2;
$darkGreyColor: #dedede;
$redColor: rgba(209, 22, 22, 0.507);
$greyColor: rgb(128, 128, 128);
$greyColorLight: rgb(167, 167, 167);

// button

@mixin button($bgColor, $textColor, $borderColor) {
  background-color: $bgColor;
  padding: 8px 20px;
  border-radius: 6px;
  color: $textColor;
  font-weight: 600;
  cursor: pointer;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $borderColor;
}

@mixin textinput {
  background-color: $lightGreyColor;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  color: $blackColor;
  font-weight: 500;
}
